body, html {
  padding: 0;
  margin: 0;
}

.app-root {
  text-align: center;
}

.lines{
  text-align: center;
  width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.app-header {
  text-align: center;
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
  display: flex;
  flex-direction: row
}

.app-input {
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 400px;
  margin-bottom: 30px;
}

.app-button {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 120px;
  margin-bottom: 30px;
}

.app-searches-restaurants {
  background-color: #222;
  padding: 10px;
  justify-content: space-between;
  color: white;
  font-size: 20pt;
}

.app-searches-users {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.datatable-doc-demo .p-column-filter {
  margin-top: 1em;
}
.datatable-doc-demo .p-dropdown-car-option {
  display: flex;
  align-items: center;
  text-align: left;
}
.datatable-doc-demo .p-dropdown-car-option img {
  margin-right: .5em;
  width: 24px;
}
.datatable-doc-demo .p-dropdown-car-option span {
  margin-top: .125em;
}
.datatable-doc-demo .p-datatable-globalfilter-container {
  float: right;
}
.datatable-doc-demo .p-datatable-globalfilter-container input {
  width: 250px;
}
.datatable-doc-demo .p-datatable.p-datatable-cars .p-datatable-header {
  border: 0 none;
  padding: 12px;
  text-align: left;
  font-size: 20px;
}
.datatable-doc-demo .p-datatable.p-datatable-cars .p-paginator {
  border: 0 none;
  padding: 1em;
}
.datatable-doc-demo .p-datatable.p-datatable-cars .p-datatable-thead > tr > th {
  border: 0 none;
  text-align: left;
}
.datatable-doc-demo .p-datatable.p-datatable-cars .p-column-title {
  font-size: 16px;
}
.datatable-doc-demo .p-datatable.p-datatable-cars .p-datatable-tbody > tr > td {
  border: 0 none;
}